$icomoon-font-path: "fonts" !default;

$icon-home: "\e902";
$icon-search: "\e986";
$icon-download: "\e9c5";
$icon-play: "\ea15";
$icon-loop: "\ea2e";
$icon-circle-right: "\ea42";
$icon-circle-left: "\ea44";
$icon-new-tab: "\ea7e";
$icon-email: "\ea86";
$icon-facebook: "\ea91";
$icon-twitter: "\ea96";
$icon-youtube: "\ea9d";
$icon-vimeo: "\eaa1";
$icon-paypal: "\ead8";
$icon-file-pdf: "\eadf";
$icon-file-word: "\eae1";

