html{ font-family: sans-serif; }
body{ margin: 0px; }
 aside, header, main, nav{ display: block; }
a{ background-color: transparent; background-position: initial initial; background-repeat: initial initial; }
h1{ font-size: 2em; margin: 0.67em 0px; }
img{ border: 0px; }
.menu-button{ display: inline-block; padding: 0.5em; background-color: rgb(250, 250, 250); border: 1px solid rgb(204, 204, 204); }
.burger-icon{ position: relative; margin-top: 8px; margin-bottom: 8px; }
.burger-icon, .burger-icon::before, .burger-icon::after{ display: block; width: 25px; height: 3px; background-color: rgb(68, 68, 68); -webkit-transition: background-color 0.3s, -webkit-transform; transition: background-color 0.3s, -webkit-transform; }
.burger-icon::before, .burger-icon::after{ position: absolute; content: ''; }
.burger-icon::before{ top: -8px; }
.burger-icon::after{ top: 8px; }
a{ color: rgb(51, 51, 51); transition: color 0.25s ease-in-out; -webkit-transition: color 0.25s ease-in-out; }
html{ color: rgb(179, 179, 179); background-color: rgb(0, 0, 0); font-family: 'Open Sans', sans-serif, Arial, 'Helvetica Neue', Helvetica; font-weight: 300; font-size: 16px; line-height: 1.4; }
h1, h3{ font-weight: 300; }
h1{ font-size: 1.5rem; color: rgb(255, 255, 255); }
@media (min-width: 40em){
h1{ font-size: 1.75rem; }
}
h3{ font-size: 1.125rem; color: rgb(204, 204, 204); }
p{ margin: 0.625em 0px; }
body{ font-family: Lato, sans-serif; }
h1{ font-family: 'PT Serif', serif; }
*{ -webkit-box-sizing: border-box; box-sizing: border-box; }
 img{ vertical-align: middle; }
body{ max-width: 80em; margin: 0px auto; }
img{ max-width: 100%; }
#masthead, #main{ margin-left: 0.9375em; margin-right: 0.9375em; }
@media print{
*{ background-color: transparent !important; color: rgb(0, 0, 0) !important; -webkit-box-shadow: none !important; box-shadow: none !important; text-shadow: none !important; background-position: initial initial !important; background-repeat: initial initial !important; }
a{ text-decoration: underline; }
a[href]::after{ content: ' (', attr(href), ')'; }
a[href^="#"]::after{ content: ''; }
 img{ page-break-inside: avoid; }
img{ max-width: 100% !important; }
p, h3{ orphans: 3; widows: 3; }
 h3{ page-break-after: avoid; }
}
a{ text-decoration: none; color: rgb(242, 108, 79); }