html{ font-family: sans-serif; }
body{ margin: 0px; }
article, header, main, nav{ display: block; }
a{ background-color: transparent; background-position: initial initial; background-repeat: initial initial; }
h1{ font-size: 2em; margin: 0.67em 0px; }
img{ border: 0px; }
hr{ -webkit-box-sizing: content-box; box-sizing: content-box; height: 0px; }
.menu-button{ display: inline-block; padding: 0.5em; text-align: center; }
.burger-icon{ position: relative; margin-top: 8px; margin-bottom: 8px; }
.burger-icon, .burger-icon::before, .burger-icon::after{ display: block; width: 35px; height: 3px; background-color: rgb(68, 68, 68); -webkit-transition: background-color 0.3s, -webkit-transform; transition: background-color 0.3s, -webkit-transform; }
.burger-icon::before, .burger-icon::after{ position: absolute; content: ''; }
.burger-icon::before{ top: -8px; }
.burger-icon::after{ top: 8px; }
.grid{ zoom: 1; }
.grid::before, .grid::after{ content: ' '; display: table; }
.grid::after{ clear: both; }
html{ background-color: rgb(255, 255, 255); font-family: 'Open Sans', sans-serif, Arial, 'Helvetica Neue', Helvetica; font-weight: 300; font-size: 16px; line-height: 1.4; }
h1, h2{ font-weight: 400; }
h1{ font-size: 1.5rem; }
@media (min-width: 40em){
h1{ font-size: 1.75rem; }
}
h2{ font-size: 1.375rem; }
p{ margin: 0.625em 0px; }
body{ font-family: Lato, sans-serif; }
h1{ font-family: 'PT Serif', serif; }
*{ -webkit-box-sizing: border-box; box-sizing: border-box; }
hr{ display: block; height: 0.0625em; border-width: 0.0625em 0px 0px; border-top-style: solid; border-top-color: rgb(77, 77, 77); margin: 0.0625em 0px; padding: 0px; }
 img{ vertical-align: middle; }
body{ max-width: 80em; margin: 0px auto; }
img{ max-width: 100%; }
#masthead, #main{ margin-left: 0.9375em; margin-right: 0.9375em; }
.grid .col:last-of-type{ padding-right: 0px; }
@media (min-width: 35em){
.grid .col{ float: left; padding-right: 1.25em; }
.grid .col:nth-child(2n+1){ clear: left; }
}
@media (min-width: 48em){
.grid .col{ }
.grid .col:nth-child(n){ clear: none; }
.grid .col:nth-child(3n+1){ clear: left; }
}
@media (min-width: 64em){
.grid .col{ }
.grid .col:nth-child(n){ clear: none; }
.grid .col:nth-child(4n+1){ clear: left; }
}
@media (min-width: 35em){
.grid-pad{ padding: 1.25em 0px 1.25em 1.25em; }
}
.grid-pad .col:last-of-type{ padding-right: 1.25em; }
#masthead{ position: relative; margin-top: 0.9375em; }
.logo{ display: inline-block; }
.logo img{ display: block; }
.nav ul{ list-style: none; padding: 0px; margin: 0px; }
@media (min-width: 35em){
.nav{ display: inline-block; }
.nav ul{ margin-left: 1.25em; }
.nav li{ display: inline-block; margin-right: 0.9375em; }
}
.js .nav .menu-button{ position: absolute; right: 0px; top: 0px; }
.js .nav .menu-button .burger-text{ font-size: 0.875rem; }
@media (min-width: 35em){
.js .nav .menu-button{ display: none; }
}
.js .nav ul{ max-height: 0px; overflow: hidden; }
@media (min-width: 35em){
.js .nav ul{ overflow: auto; max-height: inherit; }
}
@media print{
*{ background-color: transparent !important; color: rgb(0, 0, 0) !important; -webkit-box-shadow: none !important; box-shadow: none !important; text-shadow: none !important; background-position: initial initial !important; background-repeat: initial initial !important; }
a{ text-decoration: underline; }
a[href]::after{ content: ' (', attr(href), ')'; }
a[href^="#"]::after{ content: ''; }
 img{ page-break-inside: avoid; }
img{ max-width: 100% !important; }
p, h2{ orphans: 3; widows: 3; }
h2{ page-break-after: avoid; }
}
a{ text-decoration: none; color: rgb(153, 99, 0); }
.visuallyhidden, .screenreader{ border: 0px; clip: rect(0px 0px 0px 0px); height: 0.063em; margin: -0.063em; overflow: hidden; padding: 0px; position: absolute; width: 0.063em; }