
/* ==========================================================================
   Main Footer
   ========================================================================== */

#footer {
	margin-top: pxToEm(15px, $font-size-base);
	padding-top: pxToEm(15px, $font-size-base);
	border-top: 1px solid $black;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		display: inline-block;
		margin-right: pxToEm(15px, $font-size-base);
	}
}