
/* ==========================================================================
   Grid
   ========================================================================== */


// A simple grid that isn't class dependent
.grid {
  @include clearfix-me(micro);

  .col {

    &:last-of-type { // Last column in grid...
      padding-right: 0;
    }

    @include break-point-min(560px) {
      float: left;
      width: calculate-width(2);
      padding-right: pxToEm(20px, $font-size-base);

      &:nth-child(2n+1) {
        clear: left;
      }
    }

    @include break-point-min(768px) {
      width: calculate-width(3);

      &:nth-child(n) {
        clear: none;
      }
      &:nth-child(3n+1) {
        clear: left;
      }
    }

    @include break-point-min(1024px) {
      width: calculate-width(4);

      &:nth-child(n) {
        clear: none;
      }
      &:nth-child(4n+1) {
        clear: left;
      }
    }
  }
}

/* Opt-in outside padding */
.grid-pad {

  @include break-point-min(560px) {
    padding: pxToEm(20px 0 20px 20px, $font-size-base);
  }

  .col {
    &:last-of-type {
      padding-right: pxToEm(20px, $font-size-base);
    }
  }

}
///////////////////////////////////////////////////////////////////

