/* ==========================================================================
   Masthead styles (eg. Logo, strapline & main navigation / menu).
   ========================================================================== */


#masthead {
	position: relative;
	margin-top: pxToEm(15px, $font-size-base);
}

.logo {
	display: inline-block;

	img {
		display: block;
	}
}

.nav {

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	@include break-point-min(560px) {
		display: inline-block;

		ul {
			margin-left: pxToEm(20px, $font-size-base)
		}

		li {
			display: inline-block;
			margin-right: pxToEm(15px, $font-size-base);
		}
	}
}

// Using 'js' class as the selector for devices that cut the mustard
.js {
	.nav {
		.menu-button {
			position: absolute;
			right: 0;
			top: 0;

			.burger-text {
				@include fontSize(14px);
			}

				// Hide the menu button now that space allows for the navigation to be visible
				@include break-point-min(560px) {
					display: none;
				}
		}

		ul {
			max-height: 0;
			overflow: hidden;

				// Show the full menu now that space allows
				@include break-point-min(560px) {
					overflow: auto;
					max-height: inherit;
				}

			&.open {
				max-height: pxToEm(200px, $font-size-base);
				transition: max-height 0.25s ease-out;
			}
		}
	}
}

///////////////////////////////////////////////////////////////////////////////////////
