/* ==========================================================================
   Media block (Global).
   * @desc  =  Media block - image on left/right, text next to it.
   ========================================================================== */


.media {
  @include clearfix-me(micro);

  > .mediaImg {

    @include break-point-min(480px) {
      float: left;
      margin-right: 10px;
    }

    > img {
      display: block;
    }
  }
  
  > .mediaImgExt {

    @include break-point-min(480px) {
        float: right;
        margin-left: 10px;
        margin-right: 0;
    }
  }
  > .mediaBody {
    @include clearfix-me(facebook);
  }
}

////////////////////////////////////////////////////////////////
