/* ==========================================================================
   Various Mixins (Global).
   ========================================================================== */



/////////////////////
// 'Hamburger' icons
/////////////////////

/**
 * Burger parts
 *
 * (---) top    -> &:before
 * [---] middle -> &
 * (---) bottom -> &:after

// =====================================================================================
// Huge thank you to Joren Van Hee, http://joren.co, for creating and sharing this code
// =====================================================================================

 */


/**
 * Burger
 */

@mixin burger($width: 30px, $height: 5px, $gutter: 3px, $color: #000, $border-radius: 0, $transition-duration: .3s) {
    $burger-height: $height !global;
    $burger-gutter: $gutter !global;

    position: relative;
    margin-top: $height + $gutter;
    margin-bottom: $height + $gutter;

    &, &:before, &:after {
        display: block;
        width: $width;
        height: $height;
        background-color: $color;
        @if $border-radius != 0 {
            border-radius: $border-radius;
        }
        
        -webkit-transition-property: background-color, -webkit-transform;
        -moz-transition-property: background-color, -moz-transform;
        -o-transition-property: background-color, -o-transform;
        transition-property: background-color, transform;

        -webkit-transition-duration: $transition-duration;
        -moz-transition-duration: $transition-duration;
        -o-transition-duration: $transition-duration;
        transition-duration: $transition-duration;
    }

    &:before, &:after {
        position: absolute;
        content: "";
    }

    &:before {
        top: -($height + $gutter);
    }

    &:after {
        top: $height + $gutter;
    }
}


/**
 * Select parts of the burger
 */

@mixin burger-parts {
    &, &:before, &:after {
        @content;
    }
}

@mixin burger-top {
    &:before {
        @content;
    }
}

@mixin burger-middle {
    & {
        @content;
    }
}

@mixin burger-bottom {
    &:after {
        @content;
    }
}


/**
 * Burger animations
 */

@mixin burger-to-cross {
    & {
        background-color: transparent;
    }
    &:before {
        -webkit-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
        -moz-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
        -ms-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
        -o-transform: translateY($burger-gutter + $burger-height) rotate(45deg);
        transform: translateY($burger-gutter + $burger-height) rotate(45deg);
    }
    &:after {
        -webkit-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
        -moz-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
        -ms-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
        -o-transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
        transform: translateY(-($burger-gutter + $burger-height)) rotate(-45deg);
    }
}


// Implementation Example:
// =======================
.menu-button {
  display: inline-block;
  padding: .5em;
  text-align: center;
  //background-color: #fafafa;
  //border: 1px solid #ccc;
}

.burger-icon {
  @include burger(35px, 3px, 5px, #444);
}

.menu-button.is-active .burger-icon {
  @include burger-to-cross;
}

// ===================================================================================================


/////////////////
// Media queries
/////////////////

// Resource => http://sassbreak.com/flexible-media-query-mixins/

@mixin break-point($bp, $min-max: min-width) {
  $em: $bp/$base-font-size;
  @media(#{$min-max}: #{$em}em) { @content; }
}

// Implementation Example:
// =======================
.element {
  @include break-point(480px) {
    /* Blah blah... */
  }
}

// ===================================================================================================

//////////////
// Box Shadow
//////////////

@mixin box-shadow ($angle:0px, $distance:5px, $blur:0px, $spread:-1px, $red:0, $green:0, $blue:0, $opacity:1) {
	-webkit-box-shadow: $angle $distance $blur $spread rgba($red, $green, $blue, $opacity);
	-moz-box-shadow:    $angle $distance $blur $spread rgba($red, $green, $blue, $opacity);
	box-shadow:         $angle $distance $blur $spread rgba($red, $green, $blue, $opacity);
}

// ===================================================================================================


///////////////
// Transitions
///////////////

// ===================================================================================================
// >>>>> Use this effect when resizing browser ie. Fonts and images transition to the next size. <<<<<
// ===================================================================================================

@mixin transition($args...) {
 -webkit-transition: $args;
 -moz-transition: $args;
 -ms-transition: $args;
 -o-transition: $args;
 transition: $args;
}

// Implementation Example:
// =======================
a {
 color: #333;
 @include transition(color .25s ease-in-out);
 &:hover {color: #000;}
 &:active {color: #555;}
}

// ===================================================================================================

///////////////
// Opacity
///////////////

@mixin opacity($opacity) {
 opacity: $opacity;
 filter: alpha(opacity=$opacity*100);
}

// Implementation Example:
// =======================
.thumbnail {
 width: 48px;
 height: 48px;
 @include opacity(.5);
}

// ===================================================================================================

/////////////////
// Retina images
/////////////////

@mixin background-image-retina($file, $type, $width, $height) {
 background-image: url($file + '.' + $type);
 @media only screen and (-webkit-min-device-pixel-ratio: 2),
 only screen and (-moz-min-device-pixel-ratio: 2),
 only screen and (-o-min-device-pixel-ratio: 2/1),
 only screen and (min-device-pixel-ratio: 2),
 only screen and (min-resolution: 192dpi),
 only screen and (min-resolution: 2dppx){
  & {
   background-image: url($file + '@2x.' + $type);
   -webkit-background-size: $width $height;
   -moz-background-size: $width $height;
   -o-background-size: $width $height;
   background-size: $width $height;
  }
 }
}

// Implementation Example:
// =======================
.img {
 width: 760px;
 height: 400px;
 @include background-image-retina(monkey, png, 760px, 400px);
}

// ===================================================================================================

